<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles/styles.css" />
    <title>To Do List</title>
  </head>

  <body>
    <button name="mainPage" id="addNewListBtn">
      <a href="/"><%= kindOfDay %></a>
    </button>
    <button name="mai" id="addNewListBtn2">
      <a href="/newList">Work</a>
    </button>

    <div class="container">
      <h1>Work</h1>
      <ul class="col">
        <% for (var i =0; i< newListItems.length; i++) { %>
        <li><%= newListItems[i] %></li>
        <% } %>
      </ul>
      <form action="/newList" method="post">
        <input type="text" name="newItem" id="inputGoal" />
        <button type="submit" name="button">Add</button>
      </form>
    </div>
  </body>
</html>
