/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 200px;
  border: 7px solid green;
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  justify-content: center;
  align-content: center;
  padding-left: 0px;
}

li {
  background-color: green;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 18px;
}

button {
  background-color: green;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #ffd9b7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #c8e4b2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  min-height: 300px;
}

h1 {
  text-align: center;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #9ed2be;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  flex: 1;
  margin-left: 10px;
}

form.item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputGoal[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #7eaa92;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5f8969;
}

#addNewListBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #7eaa92;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

#addNewListBtn2 {
  position: absolute;
  top: 10px;
  left: 150px;
  background-color: #7eaa92;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

#nameInput {
  position: absolute;
  top: 40px;
  left: 10px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:active,
a:focus {
  outline: none;
}

.box {
  display: flex;
}

